{% extends 'base.html.twig' %}

{% block body %}


    <div style="margin: 8% 35%">
        <img  src="{{ asset('assets/images/html.jpeg') }}">
        <img src="{{ asset('assets/images/css.png') }}">
    </div>

    <div style="margin: 8% 35%">
        <img src="{{ asset('assets/images/mysql.png') }}">
        <img src="{{ asset('assets/images/wordpress.png') }}">
    </div>

    <div style="margin: 8% 35%">
        <img src="{{ asset('assets/images/php.jpeg') }}">
        <img src="{{ asset('assets/images/synfony.png') }}">
    </div>

    <div style="margin: 8% 35%">
        <img src="{{ asset('assets/images/java.png') }}">
        <img src="{{ asset('assets/images/js.jpeg') }}">
    </div>

    <div style="margin: 8% 42%">
        <img src="{{ asset('assets/images/fb.png') }}">
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}