{% extends 'base.html.twig' %}

{% block body %}

<h4 style="text-align: center; margin-top: 10%; margin-bottom: 10%; font-family: 'Poiret One', cursive; font-size: 50px">{{ 'index.title' | trans ({}, 'index') }}</h4>

    <div class="container">
        <div class="row" style="margin-bottom: 10%">
            <div class="col-6" style="text-align: center">
                <a style="font-family: 'Nanum Brush Script', cursive; color: #d22c2a; font-size: 60px;font-weight: bold;"
                   href="https://korben.info/" target="_blank">KORBEN</a>
                <p>{{ 'index.msg1' | trans ({}, 'index') }}</p>
            </div>

            <div class="col-6" style="text-align: center">
                <a style="font-family: 'Nanum Brush Script', cursive; color: #d22c2a; font-size: 60px;font-weight: bold;"
                   href="https://www.blogdumoderateur.com/actualite-digital/" target="_blank">BLOG DU MODERATEUR</a>
                <p>{{ 'index.msg2' | trans ({}, 'index') }}</p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 10%">
            <div class="col-6" style="text-align: center">
                <a style="font-family: 'Nanum Brush Script', cursive; color: #d22c2a; font-size: 60px;font-weight: bold;"
                   href="https://www.lesnumeriques.com/actualites" target="_blank">LES NUMERIQUES</a>
                <p>{{ 'index.msg3' | trans ({}, 'index') }}</p>
            </div>

            <div class="col-6" style="text-align: center">
                <a style="font-family: 'Nanum Brush Script', cursive; color: #d22c2a; font-size: 60px;font-weight: bold;"
                   href="https://www.futura-sciences.com/tech/technologie/actualites/" target="_blank">FUTURA TECH</a>
                <p>{{ 'index.msg4' | trans ({}, 'index') }}</p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 10%">
            <div class="col-6" style="text-align: center">
                <a style="font-family: 'Nanum Brush Script', cursive; color: #d22c2a; font-size: 60px;font-weight: bold;"
                   href="https://www.riskinsight-wavestone.com/" target="_blank">RISKINSIGHT</a>
                <p>{{ 'index.msg5' | trans ({}, 'index') }}</p>
            </div>

            <div class="col-6" style="text-align: center">
                <a style="font-family: 'Nanum Brush Script', cursive; color: #d22c2a; font-size: 60px;font-weight: bold;"
                   href="https://crypto-analyse.org/" target="_blank">CRYPTO ANALYSE</a>
                <p>{{ 'index.msg6' | trans ({}, 'index') }}</p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 10%">
            <div class="col-6" style="text-align: center">
                <a style="font-family: 'Nanum Brush Script', cursive; color: #d22c2a; font-size: 60px;font-weight: bold;"
                   href="https://thiefin.fr/" target="_blank">THIEFIN</a>
                <p>{{ 'index.msg7' | trans ({}, 'index') }}</p>
            </div>

            <div class="col-6" style="text-align: center">
                <a style="font-family: 'Nanum Brush Script', cursive; color: #d22c2a; font-size: 60px;font-weight: bold;"
                   href="http://www.koudetatondemand.co/" target="_blank">KOUDETAT</a>
                <p>{{ 'index.msg8' | trans ({}, 'index') }}</p>
            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
